<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>員工新增</title>  
    <!--使用bootstrap前端模組管理，必填這4句-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Admin Management System</h1>
        <hr>
        <h2>Save Admin</h2>

        <form action="#" th:action="@{/saveAdmin}" th:object="${admin}" method="POST">
        	
            <input type="text" th:field="*{code}" placeholder="Admin Code" class="form-control mb-4 col-4">

            <input type="text" th:field="*{name}" placeholder="Admin Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{password}" placeholder="Admin Password" class="form-control mb-4 col-4">
			<!--  
            <input type="text" th:field="*{role}" placeholder="Admin Role" class="form-control mb-4 col-4">
			-->
			
			<select class="custom-select mb-4 col-4" th:field="*{role}" id="roleSelect">
				<option th:value="admin" selected>Admin</option>
				<option th:value="manager">Manager</option>
			</select>
			<br>
			<button type="submit" class="btn btn-info mb-4 col-2"> Save Admin</button>
        </form>

        <hr>
		<!-- 
		<a th:href="@{/adminList}"> Back to Admin List</a>
		 -->
    </div>
</body>

</html>
