<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品新增</title>  
    <!--使用bootstrap前端模組管理，必填這4句-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Product Management System</h1>
        <hr>
        <h2>Save Product</h2>

        <form action="#" th:action="@{/saveBackProduct}" th:object="${product}" method="POST" enctype="multipart/form-data">
        	<input type="hidden" th:field="*{productId}" />
        	
         	<!-- <input type="text" th:field="*{productId}" placeholder="Product ID" class="form-control mb-4 col-4" readonly> -->

            <input type="text" th:field="*{pname}" placeholder="Product Name" class="form-control mb-4 col-4">
            
            <p>Select Image of Product </p>	
            <input type="file" name="file" class="form-control mb-4 col-4"> 
            <!-- <input type="text" th:field="*{image}" placeholder="Product Image" class="form-control mb-4 col-4"> -->

            <input type="text" th:field="*{price}" placeholder="Product Price" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Product</button>
        </form>

        <hr>
		<!-- 
		<a th:href="@{/productList}"> Back to Product List</a>
		 -->
    </div>
</body>

</html>
